*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* Masquage du contenu qui dépasse de la largeur de la page */
  overflow-x: hidden;
}

.col{
    overflow: hidden;
}


.img-carrusel{
     /* Ajout d'une transition */
     transition: all 500ms ease;

     /* Animation de l'image */
     animation: fadeIn 1s ease-in-out;
    height: 200px;
    object-fit: cover;

}

/* Animation de fondu en entrée */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation de fondu en sortie */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-duration: 1s;
}

.img-card-chapitre{
    height: 150px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.img-card-chapitre:hover{
    transform: scale(1.1);
    transition: 500ms;
}

.card {
  /* Ajout d'une bordure et d'une ombre */
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Ajout d'une image en arrière-plan */
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;

  /* Changement de la couleur de fond */
  background-color: #f8f8f8;

  /* Ajout d'une transition */
  transition: all 500ms ease;
   /* Taille de la carte en pourcentage */
  width: 90%;
  height: 90%;
 
   /* Alignement vertical et horizontal des éléments de la carte */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   transition: all 500ms ease;
}
.card img {
  /* Redimensionnement de l'image pour qu'elle remplisse la carte */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-body{
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.635);
    color: white;
    font-weight: bold;
}

.card-title{
    margin: 5px 0px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.numEpisode{
    font-size: 12px;
    background-color: green;
    width: max-content;
    padding: 3px 15px;
}

.card:hover {
  /* Zoom sur la carte lorsqu'on la survole */
  transform: scale(1.1);

  /* Changement de la couleur de fond */
  background-color: #e0e0e0;
}
.card img {
  /* Animation de l'image */
  animation: fadeIn 1s ease-in-out;
}
.card-container {
  /* Création d'un layout flexible */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-animation:hover{
    transform: scale(1.05);
    transition: 500ms;
}

/* PAGINATION FAVORIE */

.fav{
    color: red;
    font-size: 32px
}

.favori{
    background-color: black;
    color: white;
    width: max-content;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.clear{
    position: absolute;
    top: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 20;
}

superbutton {
    width: 150px;
    height: 150px;
    font-size:30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%; 
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
    left: 50px;
    top: 20px;
  }
  superbutton:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%; 
    background: conic-gradient(
          #ff53bb ,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg
      );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: intersect
  }
  superbutton:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
      radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
      radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
    filter: blur(120px);
    opacity: .5;
  }
  
  superbutton:before,
  superbutton:after {
    transition:.5s, 99999s 99999s transform;
  }
  superbutton:hover {
    box-shadow: 0 0 0 1px #666;
  }
  
  superbutton:hover:before,
  superbutton:hover:after {
    transform: rotate(36000deg);
    transition: .5s,600s linear transform;
  }
  superbutton:before {
    background-color: #222;
      border: 2px solid #333;
  }

  superbutton>img{
      border-radius: 50%;
      position: relative;
      width: 150px;
      opacity:0.9;
  }


  superbutton-navbar {
    width: 50px;
    height: 50px;
    font-size:30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%; 
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
  }
  superbutton-navbar:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%; 
    background: conic-gradient(
          #ff53bb ,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg
      );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: intersect
  }
  superbutton-navbar:after {
    content: "";
    position: absolute;
    inset: -10px;
    background:
      radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
      radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
    filter: blur(120px);
    opacity: .5;
  }
  
  superbutton-navbar:before,
  superbutton:after {
    transition:.5s, 99999s 99999s transform;
  }
  superbutton-navbar:hover {
    box-shadow: 0 0 0 1px #666;
  }
  
  superbutton-navbar:hover:before,
  superbutton-navbar:hover:after {
    transform: rotate(36000deg);
    transition: .5s,600s linear transform;
  }
  superbutton-navbar:before {
    background-color: #222;
      border: 2px solid #333;
  }

  superbutton-navbar>img{
      border-radius: 50%;
      position: relative;
      width: 50px;
      opacity:0.9;
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filters-container {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(0, 0, 0);
    border-top-left-radius: 25px; /* Arrondir le coin en haut à gauche */
    border-top-right-radius: 25px; /* Arrondir le coin en haut à droite */
    border-bottom-left-radius: 25px; /* Arrondir le coin en bas à gauche */
    border-bottom-right-radius: 25px; /* Arrondir le coin en haut à droite */
  
    overflow: hidden;
  }
  
  .filter {
    cursor: pointer;
    font-size: 18px; /* Modification de la taille du texte */
    font-family: 'Montserrat', sans-serif; /* Ajout d'une police de caractère */
    font-weight: 600; /* Mise en gras du texte */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(12, 158, 216, 0.658);
    transition: all 0.2s;
  }
  
  .filter:not(:first-of-type) {
    border-left: 2px solid rgb(0, 0, 0);
    margin-left: -2px;
  }
  
  .filter:hover {
    background-color: rgba(32, 200, 230, 0.575);
    color: #fff;
  }
  
  .filter.active {
    background-color: rgb(0, 255, 200);
    color: rgb(43, 204, 21);
    font-weight: bold;
  }
  