.gradient-custom-2 {
	/* fallback for old browsers */
	background: #40e0c3;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(64, 224, 195, 0.5), rgba(2, 45, 169, 0.5));

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(64, 224, 195, 0.5), rgba(2, 45, 169, 0.5));
}
.card-col-lg-6 {
	background-color: #00002e;
}
.row {
	background-color: #eeeeee;
}
.p {
	color: white;
}
@media (min-width: 768px) {
	.gradient-form {
		height: 100vh !important;
	}
}
@media (min-width: 769px) {
	.gradient-custom-2 {
		border-top-right-radius: .3rem;
		border-bottom-right-radius: .3rem;
	}
}
